<!DOCTYPE html>
<html>
<head>
  <title>Router Detail</title>
  <link rel="stylesheet" href="/static/style.css" />  
</head>
<body>
  <h1>Router: {{ ip }}</h1>

  <table>
    <thead>
      <tr>
        <th>Interface</th>
        <th>IP Address</th>
        <th>Status</th>
        <th>Protocol</th>
      </tr>
    </thead>
    <tbody>
      {% for item in interfaces %}
      <tr>
        <td>{{ item.interface }}</td>
        <td>{{ item.ip_address }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.proto }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
